<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Content Based Recommendation</title>

    <style>
        body {
            background: url("../images/background.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>

</head>

<body>
<div>
    <h1 style="text-align: center">
        CONTENT BASED RECOMMENDATION
    </h1>
    <br/><br/><br/><br/>
    <div class="container">
        <div data-ng-repeat="(key, value) in data">
            <div class="row table-responsive">
                <table class="table table-success table-bordered">
                    <tr>
                        <td>
                            {{key}}
                        </td>
                        <td>
                            <ol class="list-group">
                                <li data-ng-repeat="item in value" class="list-group-item">
                                    <table class="table">
                                        <tr>
                                            <td>URL: <a href="{{item.url}}" target="_blank">{{item.url}}</a></td>
                                        </tr>
                                        <tr>
                                            <td width="150px">
                                                <div data-ng-show="item.type=='table' && item.url.includes('wikibooks')">
                                                    <pre>{{item.content}}</pre>
                                                </div>
                                                <div data-ng-show="item.type!='table' || item.url.includes('oracle')">
                                                    {{item.content}}
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </li>
                            </ol>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>